.list-group-item {
    border-radius: 0 !important;
}

.thumbnail {
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.thumb {
    position: relative;
    display: block;
}
.thumb img {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.thumbnail .caption {
    padding: 20px 17px 17px;
}
.thumbnail .caption h4 {
    font-weight: bold;
    margin-bottom: 10px;
}
.thumbnail .caption a i {
    font-size: 24px;
}
.thumbnail .caption a {
    margin-left: 5px;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
.thumbnail .caption a:hover,
.thumbnail .caption a:active,
.thumbnail .caption a:focus,
.thumbnail .caption-overflow a:hover,
.thumbnail .caption-overflow a:active,
.thumbnail .caption-overflow a:focus {
    color: #00BFA5;
}
.caption-overflow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    filter: alpha(opacity=0);
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.thumb:hover .caption-overflow {
    background-color: rgba(0,0,0,.7);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}
.caption-overflow span {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -17px;
    text-align: center;
}


.alert-icon.alert-icon-danger:before {
    content: "\f05e";
}
.alert-icon.alert-icon-success:before {
    content: "\f00c";
}
.alert-icon.alert-icon-info:before {
    content: "\f05a";
}
.alert-icon.alert-icon-warning:before {
    content: "\f071";
}

.modal-body img {
    max-width: 320px;
    max-height: 240px;
}