/* Fonts
-----------------------------------------------------------------------------*/
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.eot?") format("eot"),
	   url("../fonts/OpenSans-Regular.woff") format("woff"),
       url("../fonts/OpenSans-Regular.ttf") format("truetype");
}


/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
html{
	height: 100%;
}
body {
	font: 12px/18px Arial, sans-serif;
	background-color: #f5f5f5;
    height: 100%;
   
}

.wrapper {
	width: 100%;
	height: 100%;
	min-width: 320px;
	background-color: #f5f5f5;
	font-family: OpenSans;
	font-size: 13px;
	line-height: 1.5;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* Text defaults
-----------------------------------------------------------------------------*/
strong, b{
	font-weight: bold;
}
em{
	font-style: italic;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 14px;
}
h5{
	font-size: 12px;
}
.text-brand  { color: #00BFA5; }
.text-primary{ color: #2196f3; }
.text-danger { color: #f44336; }
.text-success{ color: #4caf50; }
.text-warning{ color: #ff5722; }
.text-info   { color: #00bcd4; }


/* Additional
-----------------------------------------------------------------------------*/
.f-right{ float: right; }
.f-left{ float: left; }
.block{ display: block; margin: 10px auto; }
.inline{ display: inline-block; }
.width-100{ width: 100%; }
.none{ display: none; }

/* Colors
-----------------------------------------------------------------------------*/
.brand, .alert-brand  	{ background-color: #00BFA5; border-color: #00BFA5; color: #FFFFFF; }
.primary, .alert-primary{ background-color: #2196f3; border-color: #2196f3; color: #FFFFFF; }
.danger, .alert-danger  { background-color: #f44336; border-color: #f44336; color: #FFFFFF; }
.success, .alert-success{ background-color: #4caf50; border-color: #4caf50; color: #FFFFFF; }
.warning, .alert-warning{ background-color: #ff5722; border-color: #ff5722; color: #FFFFFF; }
.info, .alert-info   	{ background-color: #00bcd4; border-color: #00bcd4; color: #FFFFFF; }
/* Buttons
-----------------------------------------------------------------------------*/
.btn{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	color: #FFFFFF;
	outline: 0 !important;
}
.title_button{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.btn:hover{
    -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,0.05) inset;
	    	box-shadow: 0 0 0 100px rgba(0,0,0,0.05) inset;
}
.btn:active{
    -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,0.1) inset;
	    	box-shadow: 0 0 0 100px rgba(0,0,0,0.1) inset;
}
.btn-brand, .btn-brand:hover, .btn-brand:active, .btn-brand:focus, .btn-brand.active.focus, .btn-brand.active:focus, .btn-brand.active:hover, .btn-brand:active.focus, .btn-brand:active:focus, .btn-brand:active:hover, .open>.dropdown-toggle.btn-brand.focus, .open>.dropdown-toggle.btn-brand:focus, .open>.dropdown-toggle.btn-brand:hover { 
	background-color: #00BFA5; border-color: #00BFA5; color: #FFFFFF;
}
.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover { 
	background-color: #FFFFFF;  border-color: #DDDDDD; color: #333333;
}
.btn-primary, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover { 
	background-color: #2196f3; border-color: #2196f3; 
}
.btn-danger, .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover{
	background-color: #f44336; border-color: #f44336; 
}
.btn-success, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{ 
	background-color: #4caf50; border-color: #4caf50; 
}
.btn-warning, .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover { 
	background-color: #ff5722; border-color: #ff5722; 
}
.btn-info, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover{
	background-color: #00bcd4; border-color: #00bcd4; 
}

.btn-brand:hover,
.btn-brand:focus,
.btn-brand:active,
.alert.brand{
    	    background-color: #00BFA5; border-color: #00BFA5; 
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.alert.primary{
    	    background-color: #2196f3; border-color: #2196f3; 
}
.btn-danger:hover, 
.btn-danger:focus,
.btn-danger:active,
.alert.danger{
    	    background-color: #f44336; border-color: #f44336; 
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.alert.success{
    	    background-color: #4caf50; border-color: #4caf50; 
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.alert.warning{
    	    background-color: #ff5722; border-color: #ff5722; 
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.alert.info{ 
    		background-color: #00bcd4; border-color: #00bcd4;  
}

.btn-flat{
	position: fixed;
	width: 55.5px;
	height: 55.5px;
	border-radius: 55px;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	overflow: hidden;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
	transition: all 0.2s ease-out 0s;
}

.btn-flat:hover,
.btn-flat:focus,
.btn-flat:active{
	box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

}
.btn-flat i{
	text-align: center;
	line-height: 45.5px;
}

.photo-btn-group .btn{
	height: 34px;
}
.photo-btn-group .checkbox{
	padding-right: 10px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 50px;
	position: fixed;
	z-index: 9999;
	left: 0;
	right: 0;
	background: #21272B;
	color: #FFF;
	padding: 0 20px;
	border-bottom: 1px solid #222;
}
.header .dropdown-menu {
	margin-top: 0px;
	border-radius: 0;
	min-width: 180px;
	padding: 7px 0;
	color: #333;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.header .dropdown-menu li {
	position: relative;
	margin-bottom: 1px;
	display: block;
}
.header .dropdown-menu li a {
	padding: 8px 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropdown-menu-right {
	left: auto;
	right: 0;
}

/*.header .logo{
	width: 250px;
	height: 100%;
}*/
.header nav ul li{
	display: inline-block;
	position: relative;
	text-align: center;
}
.header nav ul li.square {
	width: 50px;
}
.header nav ul li .badge{
	position: absolute;
	top: 5px;
	right: 0;
}
.header nav ul li a{
	text-decoration: none;
}
.header nav ul li.active a:before{
	content: "";
	width: 0; 
	height: 0; 
	position: absolute;
    top: 5px;
    left: 21px;
	 border-right: 5px solid transparent;
	  border-left: 5px solid transparent;
	   border-top: 5px solid #00BFA5;
}
.header nav ul li.active a:after{
	content: "";
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    border-top: 5px solid #00BFA5;
}
.header nav ul li.active a,
.header nav ul li.active a i{
	opacity: 1;
}
.header nav ul li a{
	display: block;
	line-height: 49px;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
}
.header nav ul li a i,
.header nav ul li a span{
	opacity: 0.65;
	line-height: inherit;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
.caret {
	width: auto;
	height: auto;
	margin: -1px 0 0 5px;
	border: none;
}
.header nav ul li a:hover i,
.header nav ul li a:hover span{
	opacity: 1;
}
.header nav ul a i,
.header nav ul a span {
	vertical-align: middle;
}
.header nav .dropdown-menu{
	background: #21272B;
	border-radius: 0;
}
.header nav .dropdown-menu li{
	display: block;
}
.header nav .dropdown-menu li a{
	border-left: 3px solid transparent;
	width: 100%;
}
.header nav .dropdown-menu li a:hover{
	color: #fff;
	opacity: 1;
	border-left: 3px solid #00BFA5;
	background: none;
}
.header nav .dropdown-menu li i {
	float: left;
}
.header #show-sidebar{
	display: none;
	opacity: 1;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
.header #show-sidebar.active{
	color: #00BFA5;
}
	@-webkit-keyframes slideInLeftSmall {
	  from {
	    -webkit-transform: translate3d(-30%, 0, 0);
	    transform: translate3d(-30%, 0, 0);
	    visibility: visible;
	  }

	  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}

	@keyframes slideInLeftSmall {
	  from {
	    -webkit-transform: translate3d(-30%, 0, 0);
	    transform: translate3d(-30%, 0, 0);
	    visibility: visible;
	  }

	  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}

	.slideInLeftSmall {
	  -webkit-animation-name: slideInLeftSmall;
	  animation-name: slideInLeftSmall;
	}



/* Middle
-----------------------------------------------------------------------------*/
main{
	padding: 50px 0 0 250px;
	overflow: hidden;
	color: #333333;
	background: #f5f5f5;
	vertical-align: top;
	min-height: 100%;
	min-height: 100vh;
}
main a{
	color: #2196f3;
}

.page-header{
	padding: 10px 20px 15px 20px;
    margin: 0 0 20px;
    background: #fff;
}
.page-header .back{
	margin-right: 20px;
    color: #333;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
.page-header .back:hover{
	color: #00BFA5;
}
.content{
	padding: 0 20px;
	/*margin-bottom: 100px;*/
}

.nav-tabs>li>a{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color: #00BFA5;
	color: #fff;
	border: 1px solid transparent;
}
.table-responsive{
	width: 100%;
	margin: 0;
}
.pages a {
	height: 135px;
	border: 1px solid #00BFA5;
	display: block;
	text-align: center;
	padding: 20px;
	color: #00BFA5;
	margin-bottom: 25px;
	text-decoration: none;
}
.pages a:hover{
	background: #00BFA5;
	color: #fff;
}

.pages a span {
	display: block;
	margin-top: 25px;
}
/* Pagination
-----------------------------------------------------------------------------*/
.pagination>li>a, .pagination>li>span{
	border-radius: 0 !important;
    color: #00BFA5;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #00BFA5;
    border-color: #00BFA5;
}
/* Panels
-----------------------------------------------------------------------------*/
.panel,
.panel .panel-heading{
	border-radius: 0;
	-webkit-border-radius: 0;
}
.panel-brand   .panel-heading{ background-color: #00BFA5; color: #fff; }
.panel-primary .panel-heading{ background-color: #2196f3; color: #fff; }
.panel-danger  .panel-heading{ background-color: #f44336; color: #fff; }
.panel-success .panel-heading{ background-color: #4caf50; color: #fff; }
.panel-warning .panel-heading{ background-color: #ff5722; color: #fff; }
.panel-info    .panel-heading{ background-color: #00bcd4; color: #fff; }
.panel-brand  { border-color: #00BFA5; }
.panel-primary{ border-color: #2196f3; }
.panel-danger { border-color: #f44336; }
.panel-success{ border-color: #4caf50; }
.panel-warning{ border-color: #ff5722; }
.panel-info   { border-color: #00bcd4; }

/* Labels
-----------------------------------------------------------------------------*/
label { font-size: 14px; margin-bottom: 5px; }
.label { border-radius: 0 }
.label-brand  { background-color: #00BFA5; }
.label-primary{ background-color: #2196f3; }
.label-danger { background-color: #f44336; }
.label-success{ background-color: #4caf50; }
.label-warning{ background-color: #ff5722; }
.label-info   { background-color: #00bcd4; }
.label-count {
	font-size: 14pt;
	margin: 5px 0;
}
.label.label-big {
	padding: 10px 15px;
}


/* Inputs
-----------------------------------------------------------------------------*/

.form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #fff !important;
}
input.form-control { color:#555 }
.form-control.brand  { border-color: #00BFA5; }
.form-control.primary{ border-color: #2196f3; }
.form-control.danger { border-color: #f44336; }
.form-control.success{ border-color: #4caf50; }
.form-control.warning{ border-color: #ff5722; }
.form-control.info   { border-color: #00bcd4; }

.form-control:focus{
	border-color: #2196f3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(33, 150, 243, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(33, 150, 243, 0.6);
}
.form-control.brand:focus{
	border-color: #00BFA5;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204, 33, 63, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(204, 33, 63, 0.6);
}
.form-control.danger:focus{
	border-color: #f44336;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(244, 67, 54, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(244, 67, 54, 0.6);
}
.form-control.success:focus{
	border-color: #4caf50;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(76, 175, 80, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(76, 175, 80, 0.6);
}
.form-control.warning:focus{
	border-color: #ff5722;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 87, 34, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 87, 34, 0.6);
}
.form-control.info:focus{
	border-color: #00bcd4;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 188, 212, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 188, 212, 0.6);
}

.input-group-addon{
	border-radius: 0;
    -webkit-border-radius: 0;
}

.form-group label{
	/*line-height: 34px;*/
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.sidebar-container{
	padding-bottom: 50px;
	min-height: 100%;
	height: auto !important;
}
.left-sidebar{
	position: fixed;
	vertical-align: top;
	width: 250px;
	background: #263238;
	color: #FFF;
	bottom: 0;
	overflow-x: auto;
	top: 50px;
	overflow: auto;
}

.sidebar-container .logo {
	padding: 0;
}

.sidebar-container .logo img {
	height: auto;
}

.sidebar-container .logo a {
	padding: 15px;
}

.left-sidebar li{
	position: relative;
}
.left-sidebar li a{
    width: 100%;
    display: block;
    padding: 0px 20px;
    line-height: 52px;
    text-decoration: none;
    color: #fff;
    position: relative;
    vertical-align: middle;
    opacity: 0.65;
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
    	 -o-transition: all 0.2s ease;
    		transition: all 0.2s ease;
}
.left-sidebar li a span{
	font-size: 14px;
}
.left-sidebar li a:hover,
.left-sidebar li.active a{
	opacity: 1;
	background: #21272B;
}

.left-sidebar li a i{
	width: 50px;
	text-align: center;
	vertical-align: middle;
}
.left-sidebar li.active a:before{
	content: "";
	width: 0; 
	height: 0; 
	position: absolute;
    top: 19px;
    left: 5px;
	border-bottom: 7px solid transparent;
	  border-left: 7px solid #00BFA5;
	   border-top: 7px solid transparent;
}
.left-sidebar li.active a:after{
	content: "";
	position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 100%;
    border-left: 5px solid #00BFA5;
}
.logo{
	text-align: center;
	position: relative;
	line-height: 1;
	padding: 10px 5px;
}
.logo a{
	color: #00BFA5;
	font-size: 50px;
	text-decoration: none;
	display: block;
}
.logo img{
	max-width: 100%;
	height: 130px;
}
.left-sidebar .copyright{
	position: absolute;
	bottom: 0;
	display: block;
	height: 52px;
	line-height: 52px;
	text-align: center;
	width: 100%;
	text-decoration: none;
	color: #fff;
}
.left-sidebar li a.has-dropdown:after{
	content: "\f0da";
	font: normal normal normal 14px/1 FontAwesome;
	right: 20px;
	top: 19px;
	position: absolute;
	-webkit-transform: rotate(0deg);
    	-ms-transform: rotate(0deg);
    	 -o-transform: rotate(0deg);
    		transform: rotate(0deg);
    -webkit-transition: all .2s ease-in-out;
    	 -o-transition: all .2s ease-in-out;
    		transition: all .2s ease-in-out;
}
.left-sidebar a.has-dropdown.dropped:after{
	-webkit-transform: rotate(90deg);
    	-ms-transform: rotate(90deg);
    	 -o-transform: rotate(90deg);
    		transform: rotate(90deg);
}
.left-sidebar ul.hidden-dropdown{
	display: none;
    background-color: rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.05);
    box-shadow: 0 1px 0 rgba(255,255,255,0.05);
}
.left-sidebar a.has-dropdown.dropped{
	opacity: 1;
	background: #00BFA5;
}
.left-sidebar a.has-dropdown.dropped + ul.hidden-dropdown{
	display: block;
}
.left-sidebar ul.hidden-dropdown a{
	padding-left: 50px;
}
/* Chosen
-----------------------------------------------------------------------------*/
.chosen-container{
	width: 100% !important;
}
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices{
	border-radius: 0;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    box-shadow: none;
    font-size: 14px !important;
}
.chosen-container-single .chosen-single div b{
    background: url(../images/chosen-sprite.png) no-repeat 0 9px;
}
.chosen-container-active.chosen-with-drop .chosen-single{
	border: 1px solid #ddd;
	background: #fff;
	-webkit-box-shadow: 0 0 0 100px rgba(0,0,0,0.02) inset;
    		box-shadow: 0 0 0 100px rgba(0,0,0,0.02) inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 9px;
}
.chosen-container-single .chosen-search input[type="text"]{
	border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    background: none;
}
.chosen-container .chosen-results{
	color: #333;
}
.chosen-container .chosen-drop{
	box-shadow: none;
	border: 1px solid #ddd;
}
.chosen-container .chosen-results li.highlighted{
	background: #00BFA5;
}
.chosen-container-multi .chosen-choices li.search-choice{
    line-height: 23px;
    background: #00BFA5;
    border-radius: 0;
    color: #fff;
    border: none;
    box-shadow: none;
    font-weight: bold;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
	top: 9px;
    right: 0px;
    width: 12px;
    height: 14px;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
    background: none;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after{
	content: "\f00d";
	font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 4px;
    top: -1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{
	opacity: 1;
}
/* Notifications
-----------------------------------------------------------------------------*/
.jGrowl-notification{
	padding: 20px;
	font-size: 14px;
	opacity: 1;
	background: #263238;
}
.jGrowl-notification .jGrowl-header{
	font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
}
.jGrowl-close{
    font-family: OpenSans;
}
.close{
	color: #555;
    text-shadow: none;
    opacity: 0.7;
}
.close:hover{
	opacity: 1;
	color: #555;
}
.alert-with-icon{
	position: relative;
	border-left-width: 50px;
	border-left-color: rgba(0,0,0,0.13) !important;
}

.alert-icon{
    width: 50px;
    left: -50px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
}
.alert{
	border-radius: 0;
}
.alert.empty{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}
/* Loading spinner
-----------------------------------------------------------------------------*/
.loader {
	position: relative;
	margin: 0px auto;
	width: 100px;
}
.loader:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.circular {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	height: 100%;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1,200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124px;
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124px;
	}
}
@-webkit-keyframes color {
	100%, 0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%, 90% {
		stroke: #ffa700;
	}
}
@keyframes color {
	100%, 0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%, 90% {
		stroke: #ffa700;
	}
}
/* Form sign in
-----------------------------------------------------------------------------*/
.page-container{
	display: table;
    width: 100%;
    min-height: 100%;
    padding-bottom: 50px;
	height: 100%;
}
.content-container{
	display: table-row;
    height: 100%;
}
.login-container{
    vertical-align: middle;
    display: table-cell;
}

.login-form{
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 10px;
	font-size: 14px;
}
.login-form .logo{
	padding: 0;
    margin: 0 15px 20px;
	/*background-color: #00BFA5;*/
}
.login-form input[type="submit"], .login-form a.btn{
	width: 100%;
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}
footer{
	position: relative;
	height: 50px;
	margin: -50px auto 0;
	line-height: 50px;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 14px;
}
footer a{
	color: #2196f3;
}

/* Tables
-----------------------------------------------------------------------------*/
.table {
	display: table;
	width: 100%;
	border-radius: 0 !important;
}
.table-row {
	display: table-row;
	width: 100%;
}
.table-row:nth-child(odd) {
	background: #FFD800;
}
.table-cell {
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
}

.fixed-table-container{
	border-radius: 0 !important;
}

.table>thead>tr>td.brand, .table>tbody>tr>td.brand, .table>tfoot>tr>td.brand, .table>thead>tr>th.brand, .table>tbody>tr>th.brand, .table>tfoot>tr>th.brand, .table>thead>tr.brand>td, .table>tbody>tr.brand>td, .table>tfoot>tr.brand>td, .table>thead>tr.brand>th, .table>tbody>tr.brand>th, .table>tfoot>tr.brand>th,
.table>thead>tr>td.brand:hover, .table>tbody>tr>td.brand:hover, .table>tfoot>tr>td.brand:hover, .table>thead>tr>th.brand:hover, .table>tbody>tr>th.brand:hover, .table>tfoot>tr>th.brand:hover, .table>thead>tr.brand:hover>td, .table>tbody>tr.brand:hover>td, .table>tfoot>tr.brand:hover>td, .table>thead>tr.brand:hover>th, .table>tbody>tr.brand:hover>th, .table>tfoot>tr.brand:hover>th
{
	background-color: #00BFA5; border-color: #00BFA5; color: #FFFFFF;
}
.table>thead>tr>td.primary, .table>tbody>tr>td.primary, .table>tfoot>tr>td.primary, .table>thead>tr>th.primary, .table>tbody>tr>th.primary, .table>tfoot>tr>th.primary, .table>thead>tr.primary>td, .table>tbody>tr.primary>td, .table>tfoot>tr.primary>td, .table>thead>tr.primary>th, .table>tbody>tr.primary>th, .table>tfoot>tr.primary>th,
.table>thead>tr>td.primary:hover, .table>tbody>tr>td.primary:hover, .table>tfoot>tr>td.primary:hover, .table>thead>tr>th.primary:hover, .table>tbody>tr>th.primary:hover, .table>tfoot>tr>th.primary:hover, .table>thead>tr.primary:hover>td, .table>tbody>tr.primary:hover>td, .table>tfoot>tr.primary:hover>td, .table>thead>tr.primary:hover>th, .table>tbody>tr.primary:hover>th, .table>tfoot>tr.primary:hover>th
{
	background-color: #2196f3; border-color: #2196f3; color: #FFFFFF;
}
.table>thead>tr>td.danger, .table>tbody>tr>td.danger, .table>tfoot>tr>td.danger, .table>thead>tr>th.danger, .table>tbody>tr>th.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>tbody>tr.danger>td, .table>tfoot>tr.danger>td, .table>thead>tr.danger>th, .table>tbody>tr.danger>th, .table>tfoot>tr.danger>th,
.table>thead>tr>td.danger:hover, .table>tbody>tr>td.danger:hover, .table>tfoot>tr>td.danger:hover, .table>thead>tr>th.danger:hover, .table>tbody>tr>th.danger:hover, .table>tfoot>tr>th.danger:hover, .table>thead>tr.danger:hover>td, .table>tbody>tr.danger:hover>td, .table>tfoot>tr.danger:hover>td, .table>thead>tr.danger:hover>th, .table>tbody>tr.danger:hover>th, .table>tfoot>tr.danger:hover>th
{
	background-color: #f44336; border-color: #f44336; color: #FFFFFF;
}
.table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success, .table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th,
.table>thead>tr>td.success:hover, .table>tbody>tr>td.success:hover, .table>tfoot>tr>td.success:hover, .table>thead>tr>th.success:hover, .table>tbody>tr>th.success:hover, .table>tfoot>tr>th.success:hover, .table>thead>tr.success:hover>td, .table>tbody>tr.success:hover>td, .table>tfoot>tr.success:hover>td, .table>thead>tr.success:hover>th, .table>tbody>tr.success:hover>th, .table>tfoot>tr.success:hover>th
{
	background-color: #4caf50; border-color: #4caf50; color: #FFFFFF;
}
.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning, .table>thead>tr>th.warning, .table>tbody>tr>th.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>tbody>tr.warning>td, .table>tfoot>tr.warning>td, .table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th,
.table>thead>tr>td.warning:hover, .table>tbody>tr>td.warning:hover, .table>tfoot>tr>td.warning:hover, .table>thead>tr>th.warning:hover, .table>tbody>tr>th.warning:hover, .table>tfoot>tr>th.warning:hover, .table>thead>tr.warning:hover>td, .table>tbody>tr.warning:hover>td, .table>tfoot>tr.warning:hover>td, .table>thead>tr.warning:hover>th, .table>tbody>tr.warning:hover>th, .table>tfoot>tr.warning:hover>th
{
	background-color: #ff5722; border-color: #ff5722; color: #FFFFFF;
}
.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th,
.table>thead>tr>td.info:hover, .table>tbody>tr>td.info:hover, .table>tfoot>tr>td.info:hover, .table>thead>tr>th.info:hover, .table>tbody>tr>th.info:hover, .table>tfoot>tr>th.info:hover, .table>thead>tr.info:hover>td, .table>tbody>tr.info:hover>td, .table>tfoot>tr.info:hover>td, .table>thead>tr.info:hover>th, .table>tbody>tr.info:hover>th, .table>tfoot>tr.info:hover>th
{
	background-color: #00bcd4; border-color: #00bcd4; color: #FFFFFF;
}
/* Margins, paddings
-----------------------------------------------------------------------------*/
/* margin-all */
.m5{  margin: 5px;  }
.m10{ margin: 10px; }
.m15{ margin: 15px; }
.m20{ margin: 20px; }
.m25{ margin: 25px; }

/* margin-left */
.ml5{  margin-left: 5px;  }
.ml10{ margin-left: 10px; }
.ml15{ margin-left: 15px; }
.ml20{ margin-left: 20px; }
.ml25{ margin-left: 25px; }

/* margin-right */
.mr5{  margin-right: 5px;  }
.mr10{ margin-right: 10px; }
.mr15{ margin-right: 15px; }
.mr20{ margin-right: 20px; }
.mr25{ margin-right: 25px; }

/* margin-top */
.mt5{  margin-top: 5px;  }
.mt10{ margin-top: 10px; }
.mt15{ margin-top: 15px; }
.mt20{ margin-top: 20px; }
.mt25{ margin-top: 25px; }

/* margin-bottom */
.mb5{  margin-bottom: 5px;  }
.mb10{ margin-bottom: 10px; }
.mb15{ margin-bottom: 15px; }
.mb20{ margin-bottom: 20px; }
.mb25{ margin-bottom: 25px; }

/* Margin minus
----------------------------------------------*/
/* margin minus all*/
.m-5{  margin: -5px;  }
.m-10{ margin: -10px; }
.m-15{ margin: -15px; }
.m-20{ margin: -20px; }
.m-25{ margin: -25px; }

/* margin minus left */
.ml-5{  margin-left: -5px;  }
.ml-10{ margin-left: -10px; }
.ml-15{ margin-left: -15px; }
.ml-20{ margin-left: -20px; }
.ml-25{ margin-left: -25px; }

/* margin minus right */
.mr-5{  margin-right: -5px;  }
.mr-10{ margin-right: -10px; }
.mr-15{ margin-right: -15px; }
.mr-20{ margin-right: -20px; }
.mr-25{ margin-right: -25px; }

/* margin minus top */
.mt-5{  margin-top: -5px;  }
.mt-10{ margin-top: -10px; }
.mt-15{ margin-top: -15px; }
.mt-20{ margin-top: -20px; }
.mt-25{ margin-top: -25px; }

/* margin minus bottom */
.mb-5{  margin-bottom: -5px;  }
.mb-10{ margin-bottom: -10px; }
.mb-15{ margin-bottom: -15px; }
.mb-20{ margin-bottom: -20px; }
.mb-25{ margin-bottom: -25px; }

/* padding-all */
.p5{  padding: 5px;  }
.p10{ padding: 10px; }
.p15{ padding: 15px; }
.p20{ padding: 20px; }
.p25{ padding: 25px; }

/* padding left, right */
.plr5{  padding: 0 5px;  }
.plr10{ padding: 0 10px; }
.plr15{ padding: 0 15px; }
.plr20{ padding: 0 20px; }
.plr25{ padding: 0 25px; }

/* padding top, bottom */
.ptb5{  padding: 5px  0; }
.ptb10{ padding: 10px 0; }
.ptb15{ padding: 15px 0; }
.ptb20{ padding: 20px 0; }
.ptb25{ padding: 25px 0; }

/* Scrollbar
------------------------------------------------------------------------------*/
html::-webkit-scrollbar,
.left-sidebar::-webkit-scrollbar {
    width: 15px;
}
.left-sidebar::-webkit-scrollbar{
	width: 10px;
}
 
html::-webkit-scrollbar-track,
.left-sidebar::-webkit-scrollbar-track {
	background: #E0E0E0;
}
 
html::-webkit-scrollbar-thumb,
.left-sidebar::-webkit-scrollbar-thumb {
	background: #00BFA5;
}
html::-webkit-scrollbar-thumb:active,
.left-sidebar::-webkit-scrollbar-thumb:active {
	background: #4DB6AC;
}											
@media screen and (max-width: 765px){
	main{
		padding-left:0;
	}
	.header #show-sidebar{
		display: block;
	}
	.table-responsive{
		margin: 0 0 15px;
	}
}

/* Modal
-----------------------------------------------------------------------------*/
.modal {
	padding-top: 100px !important;
}
.modal-content {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}